# Old versions
*_v1.*
*_v2.*
*_v3.*
*_v4.*
base_white.stl
frame_red.stl
parts_red.stl
dmat_keychain_full.stl
dmat_keychain_v3.stl
dmat-keychain.stl
dmat-keychain-blender.stl
dmat+sign+3d+model.glb
.DS_Store
