STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
ACS_CONNECTION_STRING=endpoint=https://xxx.communication.azure.com/;accesskey=xxx
ACS_SENDER_ADDRESS=support@wonder-drill.com
NOTION_TOKEN=ntn_xxx
NOTION_DATABASE_ID=your-database-id-here
PUBLIC_BASE_URL=https://xxx.azurestaticapps.net
