STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
ACS_CONNECTION_STRING=endpoint=https://xxx.communication.azure.com/;accesskey=xxx
ACS_SENDER_ADDRESS=support@wonder-drill.com
NOTION_TOKEN=ntn_xxx
NOTION_DATABASE_ID=3255d7357cc7811191b0dd4a3e6f0090
PUBLIC_BASE_URL=https://xxx.azurestaticapps.net
